<div class="footer-wrap">
  <div class="top">
    <div class="inner">
    TOP
    </div>
  </div>
  <div class="section">
    <div class="inner">
      <p class="about">
      </p>
      <p class="service">本站运行于<a href="#flask"><i class="icon-footer python"></i></a>，由<a href="#aliyun"><i class="icon-footer aliyun"></i></a>提供动力，源代码脱管于<a href="#github"><i class="icon-footer github"></i></a>，项目构建于<a href="travis"><i class="icon-footer travis"></i></a>平台</p>
      
      
      
      
    </div>
  </div>
  <div class="bottom">
    <div class="inner">
      <span class="copyright">© 2015</span> | 
      <span class="beian">浙ICP备15003098号-1</span>
    </div>
  </div>
</div>