{% from "./macro/render_field.html" import render_field %}
<div class="login-wrap J_login_panel">
<div id="J_login_panel" class="login-panel">
  <form method="POST" action="/login/">
    <div class="login-title">
      Welcome Login
    </div>
    <div class="login-body">
      
        <dl>
          {{ render_field(form.username, class="field top", placeholder="用户名", roleClass='nodt') }}
          {{ render_field(form.password, class="field bottom", placeholder="密码", roleClass='nodt') }}
          {{ render_field(form.remember, roleClass='inline remeber') }}
        </dl>
        <input type="submit" class="submit field" value="提交" />
      
    </div>
    <div class="login-thirdparty">
    <a id="J_login_cancel" class="J_cancel_user_panel login login-cancel" href="javascript:void(0);">关闭</a>
    </div>
  </form>
</div>
</div>


