<li>
  <div class="news-block clearfix">
    <div class="news-image-wrap">
      
      <div class="image-box">
        <span class="badge">BADGE</span>
        <img class="image" src="{{ news.cover_url }}" />
      </div>
      
    </div>
    <div class="news-info">
      <div class="info first">
        <h3><a class="title">{{ news.title }}</a></h3>
        
      </div>
      <div class="info second">
        <span class="author">Me</span>
        <span class="time">2015</span>
        <span class="comment">[]</span>
      </div>
      <div class="info paragraph">
        <p class="abstract">{{ news.content_short }}</p>
      </div>
      <div class="info bottom">
        <span class="tags">tags</span>
      </div>
    </div>
  </div>
</li>