{% from "./macro/render_field.html" import render_field %}
<div class="register-wrap  J_register_panel">
<div id="J_register_panel" class="login-panel">
  <form method="POST" action="/register/">
    <div class="login-title">
      Welcome Register
    </div>
    <div class="login-body">
        <dl>
       
        </dl>
        <input type="submit" class="submit field" value="提交" />
    </div>
    <div class="login-thirdparty">
    <a id="J_register_cancel" class="J_cancel_user_panel register register-cancel" href="javascript:void(0);">关闭</a>
    </div>
  </form>
</div>
</div>