<div id="J_slide" class="slide-wrap">
  <div class="slide-box">
    <div class="slide-clip slide-clip-3 fl">
      <div class="slide-clip-source">
        <img class="image" src="http://dummyimage.com/640x400/666666/00a2ff.png&text=DlutCS-1" />
      </div>
      
    </div>
    <div class="slide-clip slide-clip-2 fl">
      <div class="slide-clip-source">
        <img class="image" src="http://dummyimage.com/640x400/666666/00a2ff.png&text=DlutCS-2" />
      </div>
    </div>
    <div class="slide-clip slide-clip-1 fl">
      <div class="slide-clip-source">
        <img class="image" src="http://dummyimage.com/640x400/666666/00a2ff.png&text=DlutCS-3" />
      </div>
    </div>
    <div class="slide-clip slide-clip-1 fl">
      <div class="slide-clip-source">
        <img class="image" src="http://dummyimage.com/640x400/666666/00a2ff.png&text=DlutCS-4" />
      </div>
    </div>
      
  </div>
</div>