{% extends "layout.html" %}

{% block styles %}
  
<link rel="stylesheet" type="text/css" href="{{ static_for('/common.css') }}">
<link rel="stylesheet" type="text/css" href="{{ static_for('/index.css') }}">
{% endblock %}

{% block scripts %}
{% if config['ENV'] == 'DEV' %}
  <script type="text/javascript"  src="{{ static_for('/hot.bundle.js') }}" ></script>
{% endif %}
  <script type="text/javascript"  src="{{ static_for('/common.js') }}" ></script>
  <script type="text/javascript"  src="{{ static_for('/index.bundle.js') }}" ></script>
{% endblock %}

{% block title %}
Index
{% endblock %}

{% block header %}

{% include './component/header.html' with context %}

{% endblock %}

{% block content %}

{% include './component/slide.html' with context %}

{% include './content.html' with context %}

{% endblock %}

{% block footer %}

{% include './component/footer.html' with context %}

{% endblock %}
