{% extends "layout.html" %}

{% block styles %}
  
<link rel="stylesheet" type="text/css" href="{{ static_for('/common.css') }}">
<link rel="stylesheet" type="text/css" href="{{ static_for('/login.css') }}">
{% endblock %}

{% block scripts %}
{% if config['ENV'] == 'DEV' %}
  <script type="text/javascript"  src="{{ static_for('/hot.bundle.js') }}" ></script>
{% endif %}
  <script type="text/javascript"  src="{{ static_for('/common.js') }}" ></script>
  <script type="text/javascript"  src="{{ static_for('/login.bundle.js') }}" ></script>
{% endblock %}

{% block title %}
Login
{% endblock %}

{% block content %}

{% include './component/login.html' with context %}

{% endblock %}

